
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 

.logo-title{
    color: #4E47FF;
        font-size: 34px;
        font-weight: 900;

}


.btn-primary{
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;

    font-style: Raleway;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.title-1{
    color: #242732;
    font-size: 65px;
    font-weight: bold;
}
.header-1{
    text-align: center; 
    margin: 0 auto;
    gap: 37px;
    width: 905px;
}


.container{
    width: 1440;
    background-image: url('../images/Hero-bg.png');
} 
.header-mar{
    padding: 309px 267.5px 152px 267.5px;
}
.section-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.heddin{
    color: #252432;
    font-size: 24px;
    font-weight: 200;

}
.sec-img{
    border-radius: 48px;
    width: 403;
    height: 328;
    display: flex;
}
.sec-container{
    display: flex;
    justify-content: space-around;
    margin: 116px 159px 116px 141px;
}
.div-padd{
    padding: 62.5px 623px 62.5px 0px;
}

.sub-item-1{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-top: 15px;
}
.sub-item-2{
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 50px;
}
.item{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.items{
    margin: 0 auto;
    height: 300px;
}

.item-all{
    display: flex; 
    justify-content: space-around;
    font-size: small;
}
.items{
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    /* justify-content: center; */

    margin: 116px 150px;
}

.st-hed{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}



div ul{
    display: flex;
    
}

div ul li{
    list-style: none;
}
.tit{
    color: rgba(30, 30, 30, 1);
    font-size: 36px;
    font-weight: bold;
}
.a1{
  color:  rgba(30, 30, 30, 1); 
  font-size: 16px;
  font-weight: 400;
}
.pho-style{
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: 300px;
    }
    .photo{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
}
.info .ahad{
   font-weight: bold; 
   font-style: 16px;
   color: #444;
}
.info .fahad{
    font-size: 14px;
    color: #999;
}

.box-container{
    width: 366.67px;
    padding: 24px;
    border-radius: 14px;
    background-color: rgba(224, 193, 193, 0.5);
}
.total-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.extra-container{
    margin: 137px 150px;
    width: 1140;
}
.image{
    border-radius: 48px;
}
.read{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;

}
.template{
   color: rgba(0, 0, 0, 0.5);
   margin-top: 20px; 

}
.focus-better{
    text-align: center;
    margin: 137px 150px 92.23px 150px;
    border-radius: 14px;
    padding: 71px 150px;
        background-color: rgba(224, 193, 193, 0.5);

}
.marg{
    margin-bottom: 20px;
    margin-top: 20px;
}